<NewDataSet>
  <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:UseCurrentLocale="true">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="关系数据">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="关系唯一标示" type="xs:string" minOccurs="0" />
                <xs:element name="调用方识别标记" type="xs:string" minOccurs="0" />
                <xs:element name="是否开启日志" type="xs:int" minOccurs="0" />
                <xs:element name="业务名称" type="xs:string" minOccurs="0" />
                <xs:element name="操作特点" type="xs:int" minOccurs="0" />
                <xs:element name="调用方式" type="xs:int" minOccurs="0" />
                <xs:element name="接口域名" type="xs:string" minOccurs="0" />
                <xs:element name="接口地址" type="xs:string" minOccurs="0" />
                <xs:element name="方法名" type="xs:string" minOccurs="0" />
                <xs:element name="返回值类型" type="xs:string" minOccurs="0" />
                <xs:element name="参数类型" type="xs:string" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <关系数据>
    <关系唯一标示>01ff7e16-5b6f-4534-91e3-05fe409f8161</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>编辑一条权限枚值举值</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>AuthEnumEdit</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>04183b45-8115-49ac-bf07-6f15aedb051c</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>提交表单demo</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>DemoAdd</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>0a30fd73-80a8-46f1-b424-a9cd6777f72c</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>框架免代理通用接口删</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>PUB_NO_RESET_DEL</方法名>
    <返回值类型>String</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>1c79edeb-4df8-429a-a363-4f11611f2b2a</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取弹窗中列表配置</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>GetOneSubInfoAndSubDialog</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{FSID}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>26579510-bc7e-4738-a440-e3068c563069</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>提醒相关处理</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>tixing_up</方法名>
    <返回值类型>String</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>2cafdf49-254e-4213-b555-a64738823b6c</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>EAS登录模拟</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bsuser.asmx</接口地址>
    <方法名>EASLogin_test</方法名>
    <返回值类型>String</返回值类型>
    <参数类型>String{user}★String{pass}★String{sys}★String{zhangtao}★String{lan}★Int32{sys2}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>2e1a3d25-0196-484a-ace1-92f5059e5946</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>通过电子表格导入数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bsmain.asmx</接口地址>
    <方法名>pubdaoru</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{DRDT}★String{UAID}★String{spsp}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>301c9d61-254a-476a-9c8c-9192b3b7fcfe</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>框架免代理通用接口改获</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>PUB_NO_RESET_EDIT_INFO</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>36c75b03-d351-417c-83b9-2ba607f17494</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>修改表单demo</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>DemoEdit</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>36f55149-991f-4d56-9a69-3b5506d966dc</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取待发送微信消息的提醒</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>Getuserznx_for_wx</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{UAid}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>3f75ea6e-4f35-45db-b4a2-fca4c46cd136</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>快速列表字段批量生成</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>typx_ht_addnewlist_default</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>44a5a4d6-cbbb-4837-8f09-9afaa9ffe283</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>权限枚举表分页数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>GetAuthEnumNumberList</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>544580f5-b371-4bb7-8831-638ec6cec700</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取一条权值枚举</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>GetAuthEnumInfo</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>5ee299b9-d3bf-4fc4-a3a4-fd3816bfacd2</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>邀请码检查</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bsuser.asmx</接口地址>
    <方法名>checkyqm</方法名>
    <返回值类型>String</返回值类型>
    <参数类型>String{yqm}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>5f3e9024-6c99-49e2-b7a4-4d27119bf601</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>用户权限简单浏览分页数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>GetAuthUserListSimple</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>65e4f5e8-8130-48d5-a89a-b26d70eadcd7</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取指定表单界面配置用于生成</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>GetOneFormsInfo</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{formFID}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>74a789ed-5091-4fa1-84b2-ced5f86aef85</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取站内信右上角提醒</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>Getuserznx_foralert</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{UAid}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>76695319-f99c-4df1-afcc-ed432b38d945</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取分页数据demo</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>DemoGetPage</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>7770090d-ce64-43c0-811f-be289e338839</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>框架免代理通用接口增</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>PUB_NO_RESET_ADD</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>7bee2e4c-ca8f-4e7c-8d76-f4601c6dc4f7</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取框架配置表数据为修改</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>GetInfoFUP_foredit</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>7c6bcf45-530c-4f50-88c3-dc96d8aed7b9</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取某些个人资料</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bsmain.asmx</接口地址>
    <方法名>GetInfoFromUAid</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>7e4bd6de-96c0-4743-a919-83885f0d2c12</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取通用数据列表配置</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>GetFormListInfo</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{FSID}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>7f4f343c-1c18-4c51-bb71-d5f6dba33db0</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>工厂日历管理处理</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bsmain.asmx</接口地址>
    <方法名>gongchangrili_demo</方法名>
    <返回值类型>String</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>82a23ded-4a92-4f0b-aef9-df9e1b81e943</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>菜单维护操作</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>EditMenuData</方法名>
    <返回值类型>String</返回值类型>
    <参数类型>DataTable{dt_request}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>847b8c58-ecb4-4664-94d6-ecd331b14f33</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>后台管理登录验证</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>CheckLogin_Back</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{zhanghao}★String{mima}★String{ip}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>85a387e0-0cde-4517-84c4-60224ef130b9</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>界面例子获取待编辑数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>FFGetInfo</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>8a62fa9d-145c-4285-93cc-c9f8a4156f7f</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取用户头像</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bsmain.asmx</接口地址>
    <方法名>GetUserTouxiang</方法名>
    <返回值类型>String</返回值类型>
    <参数类型>String{UAid}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>8c43b010-18cc-4bea-9f24-43fc343c7697</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>快速表单弹窗批量生成</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>typx_ht_addnewtanchuang_default</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>8c95ed4e-cc64-4422-8432-5d331e85631a</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取会签数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bsmain.asmx</接口地址>
    <方法名>GetList_HQ</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>96cd66cf-e149-419d-b7a0-40413d690eca</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取客户全貌</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bsmain.asmx</接口地址>
    <方法名>GetList_quanmao</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{sp}★String{str}★String{a}★String{b}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>9a42012c-a60c-411a-b3cd-c5b52ab2f47b</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取用户基础资料</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bsmain.asmx</接口地址>
    <方法名>GetUserjichuziliao</方法名>
    <返回值类型>DataTable</返回值类型>
    <参数类型>String{UAid}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>a0241975-34fc-4b2b-9758-cdb69efc1b64</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>保存或者获取用户布局</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>yonghubuju</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{uaid}★String{lx}★String{id}★String{jsonstr}★String{sp}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>af911392-1012-4f2b-9a6a-7ff9a2a6d123</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取我的工作台数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bsmain.asmx</接口地址>
    <方法名>Get_gongzuotai</方法名>
    <返回值类型>DataTable</返回值类型>
    <参数类型>String{UAid}★String{spsp}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>b029bf25-a4fb-4888-b673-4ab98e40d9ea</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>根据配置生成导出数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>GetDataSetForExcel</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>b0c245b5-72c0-4c6e-b78c-89b47f2e4bd0</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取通用数据列表分页数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>GetFormListPageDB</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>b46fba36-c6f7-4023-b4f8-9745793d2cb8</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>编辑一个用户的权限</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>EditAuthOneUser</方法名>
    <返回值类型>String</返回值类型>
    <参数类型>String{UAid}★String{Unumber1}★String{Unumber2}★String{Unumber3}★String{Unumber4}★String{Unumber5}★String{Uingroups}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>b55d09b9-4e0a-4f54-813d-5254d7946bcf</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>快速表单字段批量生成</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>typx_ht_addnewbiaodan_default</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>b610e272-fcce-468f-ac01-8c43f252b494</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>界面例子新增数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>FFadd</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>b8740ab6-bb6a-4672-b58e-1f1172ec8624</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取微信自动登录参数</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bsmain.asmx</接口地址>
    <方法名>GetInfoFromUsername_wx</方法名>
    <返回值类型>String</返回值类型>
    <参数类型>String{username_wx}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>b9b40116-39d6-4046-85c0-aa892912bf09</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取菜单数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>GetMenuData_mytb</方法名>
    <返回值类型>DataTable</返回值类型>
    <参数类型>String{sTable}★Int32{iSortID}★Int32{iCond}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>ba8a0206-688c-4146-b566-0a2b10be9df7</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>框架免代理通用接口改</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>PUB_NO_RESET_EDIT</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>c2e24c2a-a71b-45aa-b76c-2e50b6673859</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>保存框架配置表数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>FUP_Edit_save</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>c4e3e422-b552-46a5-a636-17193f9ec245</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取省市区数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>GetYHBCity</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>c7e687af-fd94-4508-ae1f-d4a684ec8e4a</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>界面例子修改数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>FFedit</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>c821ffdb-7f3d-4b70-8916-9ac4fd652a75</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>删除数据demo</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>DemoDel</方法名>
    <返回值类型>String</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>c8f3db2f-1e68-41c2-ae8c-440450684ef0</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取数据demo</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>DemoGetInfo</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>c97f405b-f3ff-41a4-a320-fa5f8af5c414</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取扫码演示结果并处理</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bsmain.asmx</接口地址>
    <方法名>getsaomajieguo_demo</方法名>
    <返回值类型>String</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>cbb125df-557a-41a6-862e-1d68343451a1</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>修改登录密码</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>AuthEditLoginPassword</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>d8d0cb5d-53a3-46fc-9ef6-3ce614a9a2b0</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取单据图片列表</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bsmain.asmx</接口地址>
    <方法名>getdanjutupian</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>db6dcc37-d246-40b3-81f9-2294269acec4</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取单个用户权限</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>GetOneUserAuthInfo</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{uid}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>dd8d997c-1560-44e3-bdf4-46f970a67d8b</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取弹窗内分页数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>GetDialogPageDB</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>ddc18a7c-b11a-4dee-a5c0-8b704db3e591</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取仪表盘数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bsmain.asmx</接口地址>
    <方法名>Get_yibiaopan</方法名>
    <返回值类型>String</返回值类型>
    <参数类型>String{hqbz}★String{UAid}★String{spsp}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>f1ae4279-ceaa-4d73-bd37-33aadf35f5c1</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取考勤数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bsmain.asmx</接口地址>
    <方法名>get_kaoqinshuju</方法名>
    <返回值类型>String</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>f272f7e9-9453-4d2c-b9ee-097ffd475025</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取单条菜单数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>GetMenuData_OneInfo</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{tbname}★String{sortid}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>f86475ce-774b-4959-a90c-c6c079541387</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取所有已启用的权限枚举</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bssystem.asmx</接口地址>
    <方法名>GetAuthEnumAllUsed</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{temp}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>fa974bd6-1c41-42a0-a062-93e8a62dafe5</关系唯一标示>
    <调用方识别标记>镜海盟-ws界面中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>提交注册资料</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>bs.jhm.com</接口域名>
    <接口地址>bsuser.asmx</接口地址>
    <方法名>tijiaozhuceziliao</方法名>
    <返回值类型>String</返回值类型>
    <参数类型>DataTable{parameter_forUI}★</参数类型>
  </关系数据>
</NewDataSet>