     .{
	   margin:0px;
	   padding:0px;
	 }
	 body{
	   margin:0;
	   padding:0;
	   color:#000;
	 }
     #box{
	   width:100%;
	   height:670px;
	   margin:auto;
	   text-align:center;
	   padding-top:20px;
	   margin-top:-20px;
	   z-index:999;
	 }
	 #box2{
	   filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
       -webkit-filter: blur(30px); /* Chrome, Opera */
       -moz-filter: blur(20px);
       -ms-filter: blur(20px);    
       filter: blur(20px);
       filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=20, MakeShadow=false); /* IE6~IE9 */
	   height:670px;
	   width:100%;
	   position:absolute;
	   z-index:-999;
	   background:url('../images/demo4.jpeg') 50% 50%;
	 }
	 .pic{
	   margin:auto;
	   border:10px #ccc solid;
	   margin-bottom:20px;
	   margin-top:20px;
	   overflow:hidden;
	   position:relative;
	 }
	 #all-picture{
	   width:500px;
	   height:300px;
	 }
	 #is-picture{
       width:auto;
	   height:300px;
	   text-align:center;
	   border:5px #ccc solid;
	 }
	 .img-chosed{
	   display:block;
	   float:left;
	 }
	 @media only screen and (max-width: 900px){
	   #is-picture{
       width:auto;
	   height:100px;
	   margin-top:50px;
	   }
	 @media only screen and (max-width: 640px){
	   #is-picture{
       width:auto;
	   height:100px;
	   margin-top:50px;
	   }
	   #all-picture{
	   width:95%;
	   height:300px;
	   }
	  }